{% extends 'base.html' %}

{% block content %}

    <div class="w-full mt-28">
        <div class="grid justify-items-center grid-cols-1">
            <p class="text-3xl font-semibold">{{post.title}}</p>
            <p class="text-lg text-rose-700 uppercase mt-2">{{post.tag}}</p>
            <div class="w-5/6 md:w-[40rem] breakwords mt-6">
                <img src="https://coffeewithrei.pythonanywhere.com/blogapi/post-photo/{{post.id}}">
                <p class="mt-4 text-lg">{{post.breif}}</p>

                <div>
                    <p class="mt-8 text-xl text-red-600 font-semibold text-center">Sections--- sections are paragraphs in your post.</p><br>
                    <div class="grid grid-cols-1 gap-12">                        
                        {% for section in sections %}
                            <section>
                                {% if section.secimg %}
                                    <img src="https://coffeewithrei.pythonanywhere.com/blogapi/section-photo/{{section.id}}">
                                {% endif %}
                                <p class="mt-8 text-lg">{{section.body}}</p>
                            </section>
                        {% endfor %}
                    </div>

                    <div class="mt-0 w-0 grid justify-items-center overflow-hidden" id="secform">
                        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                            <label class="text-lg font-semibold">Image: </label><br>
                            <input type="file" class="mt-2" name="image" accept="image/jpeg"><br><br>                            
                            <label class="text-lg font-semibold">Body: </label><br>
                            <textarea type="text" name="body" id="body" placeholder="Paragraph content" required class="mt-2 w-5/6 border border-black h-24 p-4"></textarea><br><br>
                            
                            <button type="submit" class="border w-[10rem] h-10 border-rose-700">Post</button><br><br>
                            <p class="text-lg text-rose-700 cursor-pointer" id="closesecform">Cancel</p>
                        </form><br>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-3 mt-12 gap-4 md:gap-8">
                        <button class="border border-rose-700 h-10 hover:bg-rose-700 hover:text-white rounded-md" id="opensecform">Add section</button>
                        {% if post.isPublished == False %}
                            <button class="border border-rose-700 h-10 hover:bg-rose-700 hover:text-white rounded-md" id="publish">Publish</button>
                        {% else %}
                            <button class="border border-rose-700 h-10 hover:bg-rose-700 hover:text-white rounded-md" id="unpublish">Unpublish</button>
                        {% endif %}
                        <button class="border border-rose-700 h-10 hover:bg-rose-700 hover:text-white rounded-md" id="delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="fixed w-full h-0 bg-[#4D3b3a39] top-0 left-0 flex justify-center items-center overflow-hidden" id="confirm">
        <div class="w-5/6 h-[20rem] bg-white rounded-md grid grid-cols-1 justify-items-center breakwords">

            <p class="text-xl font-semibold text-center mt-12">Are you sure you want to Publish?</p>

            <div class="flex text-lg">
                <a href="https://coffeewithrei.pythonanywhere.com/publish/{{post.slug}}"><p class="text-lime-700 cursor-pointer">Confirm</p></a>
                <p class="ml-8 text-red-600 underline decoration-red-600 cursor-pointer" id="closepublish">Cancel</p>
            </div>

        </div>
    </div>

    <div class="fixed w-full h-0 bg-[#4D3b3a39] top-0 left-0 flex justify-center items-center overflow-hidden" id="delconfirm">
        <div class="w-5/6 h-[20rem] bg-white rounded-md grid grid-cols-1 justify-items-center breakwords">

            <p class="text-xl font-semibold text-center mt-12">Are you sure you want to Delete?</p>

            <div class="flex text-lg">
                <a href="https://coffeewithrei.pythonanywhere.com/delete/{{post.slug}}"><p class="text-lime-700 cursor-pointer">Confirm</p></a>
                <p class="ml-8 text-red-600 underline decoration-red-600 cursor-pointer" id="closedel">Cancel</p>
            </div>

        </div>
    </div>

    <div class="fixed w-full h-0 bg-[#4D3b3a39] top-0 left-0 flex justify-center items-center overflow-hidden" id="unpublishform">
        <div class="w-5/6 h-[20rem] bg-white rounded-md grid grid-cols-1 justify-items-center breakwords">

            <p class="text-xl font-semibold text-center mt-12">Are you sure you want to Unpublish?</p>

            <div class="flex text-lg">
                <a href="https://coffeewithrei.pythonanywhere.com/unpublish/{{post.slug}}"><p class="text-lime-700 cursor-pointer">Confirm</p></a>
                <p class="ml-8 text-red-600 underline decoration-red-600 cursor-pointer" id="closeunpublish">Cancel</p>
            </div>

        </div>
    </div>

    {% if post.isPublished %}
    <script>
        var publishmenu = document.getElementById("unpublishform");
		var publishbtn = document.getElementById("unpublish");
		var closepublish = document.getElementById("closeunpublish");

		var delmenu = document.getElementById("delconfirm");
		var delbtn = document.getElementById("delete");
		var closedel = document.getElementById("closedel");

		var secform = document.getElementById("secform");
		var opensecform = document.getElementById("opensecform");
		var closesecform = document.getElementById("closesecform");

		function opendelmenu(){
			delmenu.style.height = "100%";
		}

		function closedelmenu(){
			delmenu.style.height = "0";
		}

		function opensec(){
			secform.style.width = "100%";
			secform.style.marginTop = "7rem";
		}

		function closesec(){
			secform.style.width = "0";
			secform.style.marginTop = "0";
		}

		function closepub(){
			publishmenu.style.height = "0";
		}

		function publish(){
			publishmenu.style.height = "100%";
		}

        opensecform.addEventListener('click', function(){
			opensec();
		});

		closesecform.addEventListener('click', function(){
			closesec();
		});

		publishbtn.addEventListener('click', function(){
			publish();
		});

		closepublish.addEventListener('click', function(){
			closepub();
		});

		delbtn.addEventListener('click', function(){
			opendelmenu();
		});

		closedel.addEventListener('click', function(){
			closedelmenu();
		});
    </script>

    {% else %}
    <script>
        var publishmenu = document.getElementById("confirm");
		var publishbtn = document.getElementById("publish");
		var closepublish = document.getElementById("closepublish");

		var delmenu = document.getElementById("delconfirm");
		var delbtn = document.getElementById("delete");
		var closedel = document.getElementById("closedel");

		var secform = document.getElementById("secform");
		var opensecform = document.getElementById("opensecform");
		var closesecform = document.getElementById("closesecform");

		function opendelmenu(){
			delmenu.style.height = "100%";
		}

		function closedelmenu(){
			delmenu.style.height = "0";
		}

		function opensec(){
			secform.style.width = "100%";
			secform.style.marginTop = "7rem";
		}

		function closesec(){
			secform.style.width = "0";
			secform.style.marginTop = "0";
		}

		function closepub(){
			publishmenu.style.height = "0";
		}

		function publish(){
			publishmenu.style.height = "100%";
		}

        opensecform.addEventListener('click', function(){
			opensec();
		});

		closesecform.addEventListener('click', function(){
			closesec();
		});

		publishbtn.addEventListener('click', function(){
			publish();
		});

		closepublish.addEventListener('click', function(){
			closepub();
		});

		delbtn.addEventListener('click', function(){
			opendelmenu();
		});

		closedel.addEventListener('click', function(){
			closedelmenu();
		});
    </script>
    {% endif %}
{% endblock %}