{% extends 'base.html' %}
{% block content %}

    <div class="mt-28 w-full">
        <p class="text-3xl text-center">Change member account or delete</p>

        <div class="grid grid-cols-1 justify-items-center mt-12 ml-6 mr-6">
            <img src="https://coffeewithrei.pythonanywhere.com/blogapi/profile-photo/{{member.id}}" class="w-[20rem] h-[15rem]">
            <p class="mt-2 text-xl font-semibold">{{member.fname}} {{member.lname}}</p>
            <p class="mt-2 text-lg">{{member.bio}}</p>
            {% if member.is_editor %}
                <p class="mt-2">Member is an Editor</p>
            {% else %}
                <p class="mt-2">Member is not an editor</p>
            {% endif %}

            <div class="mt-0 w-0 grid justify-items-center overflow-hidden" id="secform">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    {% if member.is_editor %}
                        <button type="submit" class="border w-[15rem] h-10 border-rose-700">Change to 'non-editor'</button><br><br>

                    {% else %}
                        <button type="submit" class="border w-[15rem] h-10 border-rose-700">Change to editor</button><br><br>
                    {% endif %}
                    <p class="text-lg text-rose-700 cursor-pointer" id="closesecform">Cancel</p>
                </form><br>
            </div>

            <div class="grid grid-cols-1 gap-4 mt-12">                
                <button class="h-10 rounded-md border border-rose-700 hover:text-white hover:bg-rose-700 w-[10rem]" id="opensecform">Change Member Role</button>
                <button class="h-10 rounded-md border border-rose-700 hover:text-white hover:bg-rose-700 w-[10rem]" id="delete">Delete Member</button>
            </div>
        </div>

    </div>
    <div class="fixed w-full h-0 bg-[#4D3b3a39] top-0 left-0 flex justify-center items-center overflow-hidden" id="delconfirm">
        <div class="w-5/6 h-[20rem] bg-white rounded-md grid grid-cols-1 justify-items-center breakwords">

            <p class="text-xl font-semibold text-center mt-12">Are you sure you want to Delete?</p>

            <div class="flex text-lg">
                <a href="https://coffeewithrei.pythonanywhere.com/delete-member/{{member.id}}"><p class="text-lime-700 cursor-pointer">Confirm</p></a>
                <p class="ml-8 text-red-600 underline decoration-red-600 cursor-pointer" id="closedel">Cancel</p>
            </div>

        </div>
    </div>
    <script>
        var delmenu = document.getElementById("delconfirm");
		var delbtn = document.getElementById("delete");
		var closedel = document.getElementById("closedel");

        var secform = document.getElementById("secform");
		var opensecform = document.getElementById("opensecform");
		var closesecform = document.getElementById("closesecform");

        function opensec(){
			secform.style.width = "100%";
			secform.style.marginTop = "7rem";
		}

		function closesec(){
			secform.style.width = "0";
			secform.style.marginTop = "0";
		}

        function opendelmenu(){
			delmenu.style.height = "100%";
		}

		function closedelmenu(){
			delmenu.style.height = "0";
		}

        delbtn.addEventListener('click', function(){
			opendelmenu();
		});

		closedel.addEventListener('click', function(){
			closedelmenu();
		});

        opensecform.addEventListener('click', function(){
			opensec();
		});

		closesecform.addEventListener('click', function(){
			closesec();
		});
    </script>
    <br>
{% endblock %}