{% extends 'base.html' %}

{% block content %}

    <div class="w-full mt-28">
        <div class="grid justify-items-center grid-cols-1">
            <p class="text-3xl font-semibold">{{post.title}}</p>
            <p class="text-lg text-rose-700 uppercase mt-2">{{post.tag}}</p>
            <div class="w-5/6 md:w-[40rem] breakwords mt-6">
                <img src="http://127.0.0.1:8000/blogapi/post-photo/{{post.id}}">
                <p class="mt-4 text-lg">{{post.breif}}</p>

                <div>
                    <p class="mt-8 text-xl text-red-600 font-semibold text-center">Sections--- sections are paragraphs in your post.</p>
                    {% for section in sections %}
                        {% if section.secimg %}
                            <img src="http://127.0.0.1:8000/blogapi/section-photo/{{section.id}}">
                        {% endif %}
                        <p class="mt-8 text-lg">{{section.body}}</p>
                    {% endfor %}

                    <div class="grid grid-cols-1 md:grid-cols-3 mt-12 gap-4 md:gap-8">
                        <button class="border border-rose-700 h-10 hover:bg-rose-700 hover:text-white rounded-md">Add section</button>
                        {% if post.isPublished == False %}
                            <button class="border border-rose-700 h-10 hover:bg-rose-700 hover:text-white rounded-md">Publish</button>
                        {% endif %}
                        <button class="border border-rose-700 h-10 hover:bg-rose-700 hover:text-white rounded-md">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="fixed w-full h-full bg-[#4D3b3a39] top-0 left-0 flex justify-center items-center">
        <div class="w-5/6 h-[20rem] bg-white rounded-md grid grid-cols-1 justify-items-center breakwords">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" id="close" class="mt-4 cursor-pointer" viewBox="0 0 16 16"> <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> </svg>

            <p class="text-xl font-semibold text-center">Are you sure you want to delete?</p>

            <div class="flex text-lg">
                <p class="text-lime-700 cursor-pointer">Confirm</p>
                <p class="ml-8 text-red-600 underline decoration-red-600 cursor-pointer">Cancel</p>
            </div>

        </div>
    </div>

{% endblock %}