{% extends 'base.html' %}

<!--Block content goes below-->


  {% block content %}

    {% if user.is_authenticated %}
      <div class="w-full">
        <div class="md:ml-10 md:mr-10">
          <div class="mt-12 grid md:grid-cols-2 xl:grid-cols-3 gap-4">
            <div class="bg-white p-2 sm:p-4 rounded-md shadow-md">
              <h1 class="text-xl sm:text-3xl">Welcome Back <span class="text-rose-700">{{profile.fname}} {{profile.lname}}</span></h1>
              <div class="w-[17rem] breakwords mt-4 text-md sm:text-lg">
                <p>Your Public About Bio: </p>
                <p class="mt-2">{{profile.bio}}</p>
                <button class="border w-[7rem] h-8 border-rose-700 mt-4 rounded-md hover:bg-rose-700 hover:text-white">Edit Bio</button>
              </div>  
            </div> 
            
            <div class="bg-white p-2 sm:p-4 rounded-md shadow-md">
              <p class="text-xl sm:text-3xl">Posts</p>
              <p class="text-md sm:text-lg mt-4">Total Post: {{profilepost}}</p>
              <div class="grid grid-cols-2 gap-4 mt-4">
                <p>Published- {{publishedpost}}</p>
                <p>Draft- {{draftpost}}</p>
              </div>
            </div>

            <div class="bg-white p-2 md:p-4 rounded-md shadow-md">
              <p class="text-xl sm:text-3xl">Comments & Impressions</p>
              <p class="text-md sm:text-lg mt-4">Total Comments: {{profilecomment}}</p>
              
              <p class="text-md sm:text-lg mt-4">Total Impressions: {{profileimpressions}}</p>
            </div>
          </div>

          <div class="grid grid-cols-3 gap-8 mt-12">
            <div class="bg-white shadow-md rounded-md h-[20rem] overflow-y-scroll">
              <div class="mt-4 ml-8">
                <p class="text-lg font-semibold">Published Posts</p>
                
                {% for post in posts %}
                  <p class="mt-2">{{post.title}}</p>
                {% endfor %}
                
              </div>
            </div>
            <div class="col-span-2 bg-white shadow-md rounded-md h-[20rem] overflow-y-scroll">
              
            </div>
          </div>
        </div>
      </div>
      
    {% else %}
      <div class="w-full flex justify-center mt-[10rem]">
        <div>
          <h2 class="text-3xl font-semibold text-center">Login</h2>
          <h3 class="text-xl mt-4">Hello <span class="text-rose-700">Team member!</span></h3><br>
          <form method="POST">{% csrf_token %}
            <label class="text-lg font-semibold">Username: </label><br>
            <input type="text" name="username" id="inputUsername" placeholder="E.g reiastrid" required class="mt-2 border border-black h-10 p-4"><br><br>


            <label class="text-lg font-semibold">Password: </label><br>
            <input type="password" name="password" id="inputPassword" placeholder="Password" required class="mt-2 border border-black h-10 p-4"><br>

            

            
            {% for field in login_form %}
              <p>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
              </p>
            {% endfor %}
            
            {% if login_form.non_field_errors %}
              <div style="color: red">
                <p>{{login_form.non_field_errors}}</p>
              </div>
            {% endif %}
            <br>
            <button type="submit" class="border w-[10rem] h-10 border-rose-700">Login</button>
        </form>
              
        </div>	
      </div>      
    {% endif %}

  {% endblock %}