{% extends 'base.html' %}
{% block content %}

    <div class="w-full mt-28">
        <p class="text-center text-3xl">Your team:</p>

        <div class="ml-6 mr-6 grid grid grid-cols-1 md:grid-cols-2 mt-12 justify-items-center gap-12">

            {% for team in teams %}
                {% if team.is_owner %}
                    <div class="grid grid-cols-1 justify-items-center">
                        <img src="http://127.0.0.1:8000/blogapi/profile-photo/{{team.id}}" class="w-[20rem] h-[15rem]">
                        <p class="text-lg mt-4">{{team.fname}} {{team.lname}}</p>
                        <p class="mt-2">{{team.bio}}</p>
                    </div>
                {% else %}
                    <div class="grid grid-cols-1 justify-items-center">
                        {% if team.displaypic %}
                            <img src="http://127.0.0.1:8000/blogapi/profile-photo/{{team.id}}" class="w-[20rem] h-[15rem]">
                        {% else %}
                            <div class="w-[20rem] h-[15rem] bg-gray-300 flex justify-center items-center">
                                <p>No dp</p>
                            </div>
                        {% endif %}
                        {% if profile.is_owner %}
                            <a href="http://127.0.0.1:8000/edit-member/{{team.id}}">
                                <p class="text-lg mt-4 hover:text-rose-700 cursor-pointer">{{team.fname}} {{team.lname}}</p>
                            </a>
                        {% else %}
                            <p class="text-lg mt-4">{{team.fname}} {{team.lname}}</p>
                        {% endif %}
                        <p class="mt-2">{{team.bio}}</p>
                    </div>
                {% endif %}
            {% endfor %}


            {% if profile.is_owner %}
                <a href="{% url 'add-member' %}"><button class="h-10 rounded-md border border-rose-700 hover:text-white hover:bg-rose-700 w-[10rem]">Add team member</button></a>
            {% endif %}
            
        </div>

        
    </div><br>

{% endblock %}